.profile {
    padding: 80px 30px 20px 30px;
    min-height: 100vh;
    background-color: rgb(125, 70, 196);
    color: ghostwhite;
}

.user-name{
    font-size: 5rem;
    font-weight: 600;
    margin-left: 10px;
}
