$overlay-color: rgba(134, 48, 131, 0.35);


.profile {
    background-color: rgb(125, 70, 196);
    color: ghostwhite;
    background-image: url('../../assets/img/profile-gamer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    padding: 80px 30px 20px 30px;
    width: 100%;
    background-color: $overlay-color;
}

.profile-toggle{
    ToggleButton{
        color: ghostwhite;
    }
}

.profile-bookmark-title{
    margin-left: 15px;
    font-weight: 500;
    font-size: 1.5rem;
}
.user-name{
    font-size: 5rem;
    font-weight: 600;
    margin-left: 10px;
}

