$overlay-color: rgba(134, 48, 131, 0.35);
@import '../../assets/stylesheets/mixins.scss';


.profile {
    min-height: 100vh;
    background-color: rgb(125, 70, 196);
    color: ghostwhite;
    background-image: url('../../assets/img/profile-gamer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    padding: 80px 40px 20px 40px;
    // height: 100%;
    background-color: $overlay-color;
}

.profile-toggle{
    ToggleButton{
        color: ghostwhite;
    }
}

.profile-option{
    font-weight: 500;
    font-size: 1.5rem;
    @include setTransition(.5s);
;
    &:hover{
        cursor: pointer;
        color: rgb(229, 229, 233);
    }

    &.active{
        color: ghostwhite;
    }

    &.non-active{
        color: rgb(128, 128, 128);
    }
}
.user-name{
    font-size: 5rem;
    font-weight: 600;
}

