@import '../../assets/stylesheets/mixins.scss';

.upcoming-events {
    color: ghostwhite;

    .landing{
        background-image: url('../../assets/img/black_women_tech.png');
        background-position: right;
    }
    
    .card-preview{
    
        &:nth-child(1n){
            background-color: #9d616e
        }
        &:nth-child(2n){
            background-color: #5e4361;
        }
        &:nth-child(3n){
            background-color: #6c6998;

        }
    }
}

