@import '../../assets/stylesheets/mixins.scss';

.upcoming-events {
    color: ghostwhite;
}

.events-landing{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/black_women_gaming.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.events-title{
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.events-heading{
    font-size: 5rem;
    font-weight: 600;
}

.events-sub-heading{
    font-size: 1.5rem;
    font-weight: 400;
}

.card-preview-container{
    display: flex;
    flex-direction: column;
}

.card-preview{
    padding: 15px 20px;
    height: 33vh;
    position: relative;

    &:nth-child(odd){
        background-color: #7c4560;
    }
    &:nth-child(even){
        background-color: #426088;
    }
}

.card-title{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-summary{
    font-size: 1.25rem;
    font-weight: 400;
}

.add-bookmark-icon{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.see-more-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid ghostwhite;
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 30px;
    color: ghostwhite;
    @include setTransition(.25s);

    &:hover{
        background-color: ghostwhite;
        color: #333;
    }
}

.check-it-out-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid ghostwhite;
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 30px;
    color: ghostwhite;
    @include setTransition(.25s);

    a{
        text-decoration: none;
        color: ghostwhite;
    }

    &:hover{
        background-color: ghostwhite;
        
        &:nth-child(odd){
            color: #7c4560;

            a{
                color: #7c4560;
            }
        }
        &:nth-child(even){
            color: #426088;

            a{
                color: #426088;
            }
        }
    }
}
