@import '../../assets/stylesheets/mixins.scss';

.upcoming-events {
    color: ghostwhite;

    .landing{
        background-image: url('../../assets/img/black_women_gaming.jpeg');
        background-position: right;
    }
    
    .card-preview{
    
        &:nth-child(odd){
            background-color: #7c4560;
        }
        &:nth-child(even){
            background-color: #426088;
        }
    }
}

