
.gaming {
    color: ghostwhite;

    .landing{
        background-image: url('../../assets/img/poc_vr.jpg');
    }
    
    .card-preview{
        &:nth-child(odd){
            background-color: #9f1065;
        }
        &:nth-child(even){
            float: right;
            background-color: #502d7a;
        }
    }
}



