@import '../../assets/stylesheets/mixins.scss';


.gaming {
    color: ghostwhite;
}

.gaming-landing{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/poc_vr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gaming-title{
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.gaming-heading{
    font-size: 5rem;
    font-weight: 600;
}

.gaming-sub-heading{
    font-size: 1.5rem;
    font-weight: 400;
}

.game-card-preview-container{
    display: flex;
    flex-direction: column;
}

.game-card-preview{
    padding: 15px 20px;
    min-height: 33vh;
    max-height: 50vh;
    position: relative;

    &:nth-child(odd){
        background-color: #9f1065;
    }
    &:nth-child(even){
        float: right;
        background-color: #502d7a;
    }
}

.game-card-title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.game-card-summary{
    font-weight: 400;
    margin: 20px 0;
}

.bookmark-icon{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.see-more-container{
    position: absolute;
    bottom: 35px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.see-more-button, .check-it-out-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid ghostwhite;
    padding: 10px 15px;
    border-radius: 30px;
    color: ghostwhite;
    @include setTransition(.25s);

    a{
        text-decoration: none;
        color: ghostwhite;
    }

    &:hover{
        background-color: ghostwhite;
        color: black;
    }
}

.check-it-out-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
