$bookmark-card-color: #a31455;

.bookmark-list-container{
    max-width: 350px;
    background-color: $bookmark-card-color;
    border-radius: 8px;
    margin: 15px 30px 15px 0;
}

.bookmark-list-title{
    position: relative;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 15px 10px 15px;
    background-color: ghostwhite;
    color: $bookmark-card-color;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
}

.bookmark-list-item{
    padding: 15px;
    position: relative;
    border-bottom: 1px solid ghostwhite;

    &.no-border-bottom{
        border-bottom: none;
    }
}

.bookmark-list-item-title{
    font-weight: 500;
}

.edit-icon{
    position: absolute;
    top: 12px;
    right: 40px;
    &:hover{
        cursor: pointer;
    }
}

.delete-icon{
    position: absolute;
    top: 12px;
    right: 10px;
    &:hover{
        cursor: pointer;
    }
}

.list-launch-icon{
    position: absolute;
    top: 15px;
    right: 10px;
}