@import '../../assets/stylesheets/variables.scss';

.bookmark{
    background-color: $bookmark-card-color;
    position: relative;
    max-width: 47%;
    border-radius: 5px;
    padding: 20px;
    margin: 15px 30px 15px 0;
}

.bookmark-title{
    font-weight: 500;
    font-size: 2rem;
    max-width: 80%;
}

.bookmark-summary{
    margin-top: 15px;
    font-size: 1.25rem;
}

.remove-icon{
    position: absolute;
    top: 18px;
    right: 0;
}

.launch-icon{
    position: absolute;
    top: 30px;
    right: 40px;
}

@media only screen and (max-width: 480px) {
    .bookmark{
        max-width: 100%;
        margin: 15px 0px 15px 0px;
    }
}