@import '../../assets/stylesheets/variables.scss';

.Home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/purple-gamer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: ghostwhite;
}

.home-title{
    position: absolute;
    top: 8rem;
    left: 2rem;
}

.home-heading{
    font-size: 5rem;
    font-weight: 600;
}

.home-sub-heading{
    font-size: 1.5rem;
    font-weight: 400;
}

.home-buttons{
    display: flex;
    margin-top: 20px;
}

.home-button{
    margin-right: 30px;
    font-size: 1.5rem;
    text-decoration: none;
}


@media only screen and (max-width: 480px) {
    .Home{
        background-position: center;
    }

    .home-buttons{
        display: flex;
    }

    .home-button{
        border: none;
        background-color: $bg-color;
    }
}

@media only screen and (min-width: 1024px) {
    .Home{
        background-position: center;
    }

    .home-heading{
        font-size: 5rem;
    }

    .home-sub-heading{
        font-size: 1.5rem;
    }

    .home-extra-container{
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .home-extra-section{
        height: 50%;
        background-color: cadetblue;

        &.gaming{
            background-image: url('../../assets/img/neon-purple-controller.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.events{
            background-image: url('../../assets/img/black_woman_neon.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}