.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: ghostwhite;
    background-color: #790c4c;
    height: 125px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-icons{
    a{
        color: ghostwhite;
        padding: 0.75rem;
        margin: 0 0.5rem;

        &:hover{
            color: ghostwhite;
        }
    }

}

.footer-icon{
    height: 35px;
}