.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: ghostwhite;
    background-color: #790c4c;
    height: 100px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}