@import './assets/stylesheets/mixins.scss';
@import './assets/stylesheets/variables.scss';
@import './assets/stylesheets/global-styles.scss';

*{
  font-family: 'Poppins', cursive;
}

.overlay{
  background-color: $overlay-color;
  padding: 0 10%;
  min-height: 100%;
  overflow-y: auto;
}

.App{
  background-color: $bg-color;
}

.App-BG {
  height: 100vh;
  // background-image: url('../assets/img/kwan_la_sqr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Pppins', sans-serif;
  font-weight: 500;
  color: #fff;
  padding-bottom: 30px;
}



@media only screen and (max-width: 1020px) {
  .overlay {
    // height: 100%;
    padding: 0 10% 5% 10%;
  }
}